<header class="p-3 header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/ucesnik" class="nav-link px-2 text-white">Pocetna</a></li>
        <li>
          <div ngbDropdown class="d-inline-block">
              <a id="dropdownBasic1" ngbDropdownToggle>
                  Profil
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a routerLink="/ucesnik/mojProfil">Moj profil</a>
                  <a routerLink="/ucesnik/mojeRadionice">Moje radionice</a>
                  <a routerLink="/ucesnik/akcije">Moje akcije</a>
                  <a routerLink="/ucesnik/svePoruke">Moje poruke</a>
              </div>
          </div>
        </li>
        <li><a routerLink="/ucesnik/sveRadionice" class="nav-link px-2 text-white">Radionice</a></li>
        <li><a routerLink="/ucesnik/postaniOrganizator" class="nav-link px-2 text-white">Postani organizator</a></li>
        <li><a routerLink="" (click) = "odjaviSe()" class="nav-link px-2 text-white">Odjavi se</a></li>
      </ul>
    </div>
  </div>
</header>

<h1 class = 'naslov'>Moje radionice</h1>

<form>
  <div class="opt">
  <span class="sort" >Sortiraj:</span>
  <select  name="sortiranje" id="sortiranje" [(ngModel)]="sortiranje" class="sort">
      <option value="datum">Datum</option>
      <option value="naziv">Naziv</option>
      <option value="opis">Opis</option>
      <option value="mesto">Mesto</option>
  </select>
  <button  name="sortiraj" mat-raised-button color="primary" (click)="sortiraj()" class="sort">Sortiraj</button>
</div>
</form>

  <div class = 'content'>
    <mat-tab-group>
       <mat-tab class="tb">
        <div *ngIf = "mojeRadionice?.length > 0" class="tab-content">
            <div *ngFor="let r of mojeRadionice" class="tbr">
                
                    <table class="table">
                        <tr>
                            <th>Naziv</th>
                            <th>Opis</th>
                            <th>Mesto</th>
                            <th>Datum</th>
                            <th>Fotografija</th>
                        </tr>
                        <tr>
                            <td class="b"><span>{{r.naziv}}</span></td>
                            <td class="b">{{r.opis}}</td>
                            <td class="b">{{r.mesto}}</td>
                            <td class="b">{{r.datum|date:'yyyy-MM-dd'}}</td>
                            <td>
                                <img src="assets/{{r.glavnaSlika}}" alt=""> 
                            </td>
                        </tr>
                    </table>
                <hr>
            </div>
        </div> 
       </mat-tab>
    </mat-tab-group>
    </div>


<div class="foot">
  <footer class="footer">
      <p class="ft">
          Copyright Nikola Krstic
      </p>
  </footer> 
</div>
  
