<header class="p-3 header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/admin" class="nav-link px-2 text-white">Pocetna</a></li>
          <li>
            <div ngbDropdown class="d-inline-block">
                <a id="dropdownBasic1" ngbDropdownToggle>
                    Korisnici
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a routerLink="/admin/korisnici">Pregled</a>
                    <a routerLink="/admin/dodajKorisnika">Dodaj korisnika</a>
                </div>
            </div>
          </li>
          <li><a routerLink="/admin/zahtevi" class="nav-link px-2 text-white">Zahtevi</a></li>
          <li>
            <div ngbDropdown class="d-inline-block">
                <a id="dropdownBasic1" ngbDropdownToggle>
                    Radionice
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a routerLink="/admin/radionice">Pregled</a>
                    <a routerLink="/admin/dodajRadionicu">Dodaj radionicu</a>
                    <a routerLink="/admin/predlozi">Predlozi</a>
                </div>
            </div>
          </li>
          <li><a routerLink="" (click) = "odjaviSe()" class="nav-link px-2 text-white">Odjavi se</a></li>
        </ul>
      </div>
    </div>
  </header>

  <h1 class = 'naslov'>Korisnici</h1>
  <div class = 'content'>
    <mat-tab-group>
       <mat-tab class="tb">
        <div *ngIf = "korisnici?.length > 0" class="tab-content">
            <div *ngFor="let k of korisnici" class="tbr">
                
                    <table class="table">
                        <tr>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Kor.Ime</th>
                            <th>Tip</th>
                            <th>Telefon</th>
                            <th>Fotografija</th>
                            <th>Obrisi</th>
                            <th>Azuriraj</th>
                        </tr>
                        <tr>
                            <td class="b"><span>{{k.ime}}</span></td>
                            <td class="b">{{k.prezime}}</td>
                            <td class="b">{{k.korisnickoIme}}</td>
                            <td class="b" *ngIf="k.tip==1">Organizator</td>
                            <td class="b" *ngIf="k.tip==2">Ucesnik</td>
                            <td class="b">{{k.telefon}}</td>
                            <td>
                                <img src="assets/{{k.slika}}" alt=""> 
                            </td>
                            <td>
                                <button name="loginButton" mat-raised-button color="primary" (click)="obrisi(k.korisnickoIme)">Obrisi</button>
                            </td>
                            <td>
                                <button name="loginButton" mat-raised-button color="primary" (click)="azuriraj(k.korisnickoIme)">Azuriraj</button>
                            </td>
                        </tr>
                    </table>
                    <hr>
                
            </div>
        </div> 
       </mat-tab>
    </mat-tab-group>
</div>

  <div class="foot">
    <footer class="footer">
        <p class="ft">
            Copyright Nikola Krstic
        </p>
    </footer> 
</div>