<header class="p-3 header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/admin" class="nav-link px-2 text-white">Pocetna</a></li>
        <li>
          <div ngbDropdown class="d-inline-block">
              <a id="dropdownBasic1" ngbDropdownToggle>
                  Korisnici
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a routerLink="/admin/korisnici">Pregled</a>
                  <a routerLink="/admin/dodajKorisnika">Dodaj korisnika</a>
              </div>
          </div>
        </li>
        <li><a routerLink="/admin/zahtevi" class="nav-link px-2 text-white">Zahtevi</a></li>
        <li>
          <div ngbDropdown class="d-inline-block">
              <a id="dropdownBasic1" ngbDropdownToggle>
                  Radionice
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a routerLink="/admin/radionice">Pregled</a>
                  <a routerLink="/admin/dodajRadionicu">Dodaj radionicu</a>
                  <a routerLink="/admin/predlozi">Predlozi</a>
              </div>
          </div>
        </li>
        <li><a routerLink="" (click) = "odjaviSe()" class="nav-link px-2 text-white">Odjavi se</a></li>
      </ul>
    </div>
  </div>
</header>

  <div>
    <div class="dd">
      <h3>Podaci o radionici:</h3>
      <span>{{poruka}}</span><br>
      <form>
        <img src="assets/{{slika}}" alt="">
        <br>
      <span>Naziv</span><br>
      <input type="text" [(ngModel)]="naziv" name="naziv">
      <br>
      <span>Mesto</span><br>
      <input type="text" [(ngModel)]="mesto" name="mesto">
      <br>
      <span>Datum</span><br>
      <input type="date" [(ngModel)]="datum" name="datum">
      <br>
      <span>Opis</span><br>
      <input type="text" [(ngModel)]="opis" name="opis">
      <br>
      <span>Duzi opis</span><br>
      <input type="text" [(ngModel)]="dugacakOpis" name="dugacakOpis">
      <br>
      <span>Slika</span><br>
      <input type="file" name="slika" accept="image/png, image/jpeg" (change)="izaberiSliku($event)" [(ngModel)]="slika">
      <br>
      <button name="azuriraj" mat-raised-button color="primary" (click)="azuriraj()">Azuriraj podatke</button>
    </form>
    </div>


  <div class="foot">
    <footer class="footer">
        <p class="ft">
            Copyright Nikola Krstic
        </p>
    </footer> 
</div>
