.header{
    background: lightslategray;
    text-align: center;
    height: 70px;
    padding-top: 8px;
  }
  
  .tab-content{
  min-height: 430px;
  height: 430px;
  overflow-y: auto;
  background-color: var(--dark-color);
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 60%;
  min-width: 650px;  
  }
  
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: lightslategray;
    color: white;
    text-align: center;
    padding-top:8px;
  }
  
  .navbar {
    background: lightslategray;
    height: 50px;
  }
  
  .navbar  {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 12px;
    width:100%;
  }
  
  a  {
    float: left;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 12px;
    color:darkslategray;
  } 
  
  #dropdownBasic1{
    color:white;
  }
  
  #dropdownBasic1:hover{
    background-color: slategray;
  }
  
  .nav-link:hover{
    background-color: slategray;
  }
  
  .navbar {
    background-color: slategray;
  }
  
  td, th{
    
    width:140px;
    word-wrap: break-word;
  }
  th{
    text-align: center;
  }
  
  td{
    font-size: 25;
    text-align: center;
  }
  
  .b{
    padding-left: 5px;
    padding-right: 5px;
  }
  
  img{
    padding-left: 7px;
    max-width: 200px;
  }
  
  .ft{
    text-shadow: 5rem;
    font-size: 16px;
  }
  span{
    padding-left: 15px;
  }
  
  input{
    width: 130px;
    margin: 7px;
    display: inline-block;
    border: 1px solid slategray;
    border-radius: 4px;
  } 
  
  .naslov{
  padding-left:10%;
  padding-top: 10px;
  }
  
  button{
  background-color: lightgray;
  }
  
  .sort{
    margin-left: 5px;
    font-size: 18px;
  }

  .sve{
    padding-left: 15%;
  }

  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  .chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
  }
  
  .chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
    overflow-y: auto;
    max-height: 600px;
    position: relative;
  }
  
  .people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
  }
  
  .people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
  }
  
  .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
  }
  
  .people-list .chat-list li.active {
    background: #efefef
  }
  
  .people-list .chat-list li .name {
    font-size: 15px
  }
  
  .people-list .chat-list img {
    width: 45px;
    border-radius: 50%
  }
  
  .people-list img {
    float: left;
    border-radius: 50%
  }
  
  .people-list .about {
    float: left;
    padding-left: 8px
  }
  
  .people-list .status {
    color: #999;
    font-size: 13px
  }
  
  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
  }
  
  .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
  }
  
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
  }
  
  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto; 
  }
  
  .chat .chat-history ul {
    padding: 0
  }
  
  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
  }
  
  .chat .chat-history ul li:last-child {
    margin-bottom: 0px
  }
  
  .chat .chat-history .message-data {
    margin-bottom: 15px
  }
  
  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
  }
  
  .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
  }
  
  .chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
  }
  
  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
  }
  
  .chat .chat-history .my-message {
    background: #efefef
  }
  
  .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
  }
  
  .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
  }
  
  .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
  }
  
  .chat .chat-message {
    padding: 20px
  }
  
  .online,
  .offline,
  .me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
  }
  
  .me {
    color: #1d8ecd
  }
  
  .float-right {
    float: right
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  .emp{
  width:5px;
  }
  
  .tm{
  margin-left: 82%;
  }